{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "import/extensions": [
      "error",
      {
        "js": "ignorePackages"
      }
    ],
    "max-len": ["error", { "code": 200 }]
  }
}